{
    "tabWidth": 4,
    "singleQuote": true,
    "plugins": [
        "@shufo/prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "printWidth": 9999,
            }
        }
    ]
}
