.btn-back {
    @extend .btn;
    @extend .btn-link;
    --bs-btn-color: var(--bs-tertiary-color);
    --bs-btn-hover-color: var(--bs-secondary-color);
    padding: 0;
    font-size: $font-size-sm;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.125rem;
    gap: 0.25rem;
}
