@import 'public/variables';
@import 'public/bootstrap';
@import 'public/lucide';
@import 'navbar';
@import 'public/errors';
@import 'public/skip-to-content';

@import 'public/lang-switcher';

@import 'public/primary-nav';
@import 'public/social-nav';
@import 'public/footer-nav';
@import 'public/legal-nav';

@import 'public/header';
@import 'public/hamburger';
@import 'public/navigation';

@import 'public/page';
@import 'public/section-default';
@import 'public/share-links';
@import 'public/pagination';
@import 'public/document-list';
@import 'public/image-list';
@import '/node_modules/photoswipe/dist/photoswipe.css';

@import 'public/footer';
@import 'public/anchor-top';

@import 'public/swiper';
@import 'public/navbar-hide-left-button';

@media screen and (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

table {
    @extend .table;
}

figure {
    @extend .figure;
    img {
        @extend .figure-img;
    }
    figcaption {
        @extend .figure-caption;
    }
}

blockquote {
    color: var(--bs-gray-700);
    border-left: 5px solid var(--bs-gray-300);
    padding: 18px 25px 18px 22px;
    background-color: var(--bs-gray-100);
    quotes: '\201C' '\201D' '\2018' '\2019';
    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
        margin-left: -0.5rem;
    }
}
.rich-content {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    img {
        @include img-fluid;
    }
    img,
    figure {
        &[style*='float:left'] {
            margin-right: 20px;
            margin-bottom: 20px;
            @include media-breakpoint-down(sm) {
                float: none !important;
                display: block;
                margin-right: 0;
                width: 100%;
            }
        }
        &[style*='float:right'] {
            margin-left: 20px;
            margin-bottom: 20px;
            @include media-breakpoint-down(sm) {
                float: none !important;
                display: block;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

.required_mark {
    color: var(--bs-red);
}
